.type-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 75px;
}

span {
    color: #fff724;
}